 .u-section-1 {
  background-image: url("images/DSCF02061.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 880px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: normal;
  margin: 220px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  width: 226px;
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  --radius: 50px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 151px auto 0 387px;
  padding: 10px 32px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  --radius: 50px;
  text-transform: uppercase;
  font-weight: 300;
  margin: -47px auto 60px 601px;
  padding: 10px 36px 10px 35px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 726px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 490px;
  }

  .u-section-1 .u-btn-2 {
    border-style: solid;
    margin-left: 301px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 371px;
  }

  .u-section-1 .u-btn-2 {
    margin-bottom: 13px;
    margin-left: 201px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 1px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 263px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}